body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-col,
.sm-flex-col {
  flex-direction: column;
}

.text-xl {
  font-size: 50px;
  line-height: 50px;
}

.hide-on-small {
  display: none;
}

.show-on-small {
  display: flex;
}

.text-lg {
  margin-top: -10px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #f4f5f7;
}

.primary-text {
  color: #ff6b00;
}

.primary-color {
  background-color: #ff6b00;
}

.secondary-color {
  background-color: #1c1a19;
}

.font-crete-round {
  font-family: Crete Round, sans-serif;
  font-weight: normal;
}

.font-inter {
  font-family: Inter, sans-serif;
}

.text-white {
  color: white;
}

.font-size-medium {
  font-size: 18px;
}

.primary-button {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border: none;
  border-radius: 0;
  color: #050505;
  cursor: pointer;
  width: inherit;
  padding: 15px 0;
  display: block;
  transition: all 2s ease-in-out;
}

.primary-button:hover {
  border: 1px solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.button-sm {
  width: 120px;
}

.box {
  padding: 7px 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.box-container > ul {
  padding-left: 0;
}

header {
  height: 50px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  justify-content: space-between;
  background-color: #3e3c3c;
}

.logo {
  transform: rotate(360deg);
  transition: all 2s ease-in-out;
}

.bars > i {
  font-size: 20px;
  margin-right: 15px;
}

.bars > i:hover {
  color: yellow;
}

.space-x > li {
  padding: 0 30px;
}

.headline-section {
  width: 100%;
  height: 100vh;
  margin-bottom: -11%;
  justify-content: center;
  background-image: url("./imgs/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: inherit;
  background-position-y: 85%;
  position: relative;
  z-index: -1;
}

.desktop-headline-bg-section {
  display: none;
}

.mobile-version-icons > ul {
  margin-left: -40px;
}

.mobile-version-icons > ul > li {
  list-style: none;
  font-size: 20px;
  padding: 0 5px;
  cursor: pointer;
}

.mobile-version-icons > ul > li > a {
  color: #fff;
}

.mobile-version-icons > ul > li > a:hover {
  color: #ff6b00;
}

.headline-text-contents {
  margin-top: -100px;
  margin-left: 2px;
  padding: 0 10px;
  z-index: 20;
}

.headline-text-contents > h2 {
  font-family: Roboto, sans-serif;
  margin-top: -20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 10px;
  color: #fff5e1;
}

.headline-text-contents > p {
  font-family: Poppins, sans-serif;
}

#mobile-menu {
  background-color: #3c3a39;
  height: 100vh;
  margin-top: -17px;
  display: none;
}

#mobile-menu > nav {
  margin-left: -20px;
  width: 100%;
}

#mobile-menu > nav > ul {
  padding-top: 40px;
  margin: 0 20px;
}

#mobile-menu > nav > ul > li {
  padding: 10px 0;
  border-bottom: 1px solid #f7f7f9;
}

#mobile-menu > nav > ul > li > a {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

#times {
  display: none;
}
